<a href="https://colab.research.google.com/github/sathizz7/Guvi_Task_6/blob/main/Boston_Housinhg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv("train.csv")
df.head(5)

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [49]:
df.shape

(400, 15)

In [50]:
df.isnull().sum()

ID         0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [51]:
df.describe()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,3.757191,10.970000,10.936425,0.072500,0.552817,6.292165,68.086000,3.819462,9.462500,403.797500,18.459000,359.455375,12.668525,22.475750
std,115.614301,9.155496,22.796261,6.848042,0.259639,0.115488,0.709923,28.386888,2.132445,8.687478,169.656816,2.148105,86.732906,7.207047,9.218611
min,0.000000,0.009060,0.000000,0.460000,0.000000,0.385000,4.138000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,99.750000,0.077820,0.000000,5.130000,0.000000,0.449000,5.877500,42.375000,2.109150,4.000000,277.000000,17.400000,376.115000,6.990000,17.100000
50%,199.500000,0.242170,0.000000,8.560000,0.000000,0.532000,6.208500,76.950000,3.272100,5.000000,329.000000,18.950000,391.575000,10.875000,21.000000
75%,299.250000,3.543427,12.500000,18.100000,0.000000,0.624000,6.620500,93.825000,5.214600,24.000000,666.000000,20.200000,396.285000,16.910000,25.000000
max,399.000000,88.976200,95.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

Importing train, test in phi

In [52]:
phi = np.loadtxt('train.csv', dtype= 'float', delimiter = ',', skiprows = 1,usecols=tuple(range(1,14)))

In [53]:
phi_test = np.loadtxt('test.csv', dtype= 'float', delimiter= ',', skiprows = 1, usecols = tuple(range(1,14)))

In [54]:
y = np.loadtxt('train.csv', dtype = 'float', delimiter = ',', skiprows = 1, usecols = 14, ndmin = 2)

In [55]:
#Concatenate coloumn of 1s to right of phi and phi_test

phi = np.concatenate((phi, np.ones((400,1))),axis = 1)
phi_test = np.concatenate((phi_test, np.ones((105,1))),axis =1)

In [56]:
phi_test

array([[1.06120e-01, 3.00000e+01, 4.93000e+00, ..., 3.94620e+02,
        1.24000e+01, 1.00000e+00],
       [3.41090e-01, 0.00000e+00, 7.38000e+00, ..., 3.96900e+02,
        6.12000e+00, 1.00000e+00],
       [1.22472e+01, 0.00000e+00, 1.81000e+01, ..., 2.46500e+01,
        1.56900e+01, 1.00000e+00],
       ...,
       [5.36000e-02, 2.10000e+01, 5.64000e+00, ..., 3.96900e+02,
        5.28000e+00, 1.00000e+00],
       [1.04690e-01, 4.00000e+01, 6.41000e+00, ..., 3.89250e+02,
        6.05000e+00, 1.00000e+00],
       [4.55587e+00, 0.00000e+00, 1.81000e+01, ..., 3.54700e+02,
        7.12000e+00, 1.00000e+00]])

In [57]:
#Apply min max scaling on each coloumn of phi and phi_test

for i in range(0, 13):
  colmax = max(phi[:,i])
  colmin = min(phi[:,i])
  phi[:,i] = (phi[:,i] - colmin) / (colmax - colmin)
  phi_test[:,i] = (phi_test[:,i] - colmin) / (colmax - colmin)

In [58]:
#Apply log scaling on y

y = np.log(y)
print(y)

[[2.69462718]
 [3.21887582]
 [3.7208625 ]
 [2.91235066]
 [2.98568194]
 [3.02529108]
 [2.7080502 ]
 [2.59525471]
 [3.13983262]
 [2.98568194]
 [3.91202301]
 [3.09104245]
 [3.07731226]
 [1.60943791]
 [3.28466357]
 [2.11625551]
 [2.77881927]
 [3.0056826 ]
 [3.34990409]
 [3.03495299]
 [3.38099467]
 [3.19047635]
 [2.89591194]
 [3.09557761]
 [3.17805383]
 [3.68386691]
 [2.91235066]
 [3.29953373]
 [3.17387846]
 [3.19867312]
 [3.05400118]
 [2.95491028]
 [2.99573227]
 [3.38777436]
 [2.94968834]
 [2.35137526]
 [3.33576958]
 [3.36729583]
 [3.03974916]
 [3.02529108]
 [3.41772668]
 [3.10906096]
 [3.5204608 ]
 [2.8094027 ]
 [3.34638915]
 [2.97552957]
 [3.33932198]
 [2.60268969]
 [2.87919846]
 [2.65324196]
 [2.12823171]
 [2.57261223]
 [2.72785283]
 [3.13113691]
 [3.02529108]
 [2.66722821]
 [3.19458313]
 [3.10906096]
 [3.37073817]
 [2.95491028]
 [3.04452244]
 [2.00148   ]
 [2.79116511]
 [3.07731226]
 [2.8094027 ]
 [3.01062089]
 [2.92852352]
 [2.61006979]
 [2.97041447]
 [3.314186  ]
 [3.12236492]
 [3.19867312]
 [2.93916192]
 [2.7080502 ]
 [3.12676054]
 [3.91202301]
 [3.21084365]
 [3.13549422]
 [3.12676054]
 [3.02529108]
 [2.62466859]
 [3.4339872 ]
 [3.09104245]
 [3.47815842]
 [2.91777073]
 [3.73050113]
 [3.42426265]
 [3.40452517]
 [2.34180581]
 [2.17475172]
 [3.13983262]
 [3.35689712]
 [3.763523  ]
 [3.17387846]
 [3.15273602]
 [2.57261223]
 [3.20680324]
 [2.77881927]
 [3.45315712]
 [3.18635263]
 [3.28091122]
 [3.42751469]
 [2.99573227]
 [2.8678989 ]
 [3.21084365]
 [3.40452517]
 [3.56104608]
 [2.34180581]
 [2.11625551]
 [3.11794991]
 [2.44234704]
 [3.35689712]
 [3.5085559 ]
 [3.80220814]
 [3.59731226]
 [3.15700042]
 [2.63188884]
 [3.49347266]
 [2.46809953]
 [2.42480273]
 [2.45958884]
 [2.83907846]
 [3.4657359 ]
 [2.99071973]
 [3.06805294]
 [3.07731226]
 [3.58351894]
 [3.91202301]
 [2.62466859]
 [3.33220451]
 [3.91202301]
 [3.87743156]
 [2.58776404]
 [2.98568194]
 [3.0155349 ]
 [2.54944517]
 [3.06339092]
 [3.0301337 ]
 [3.07731226]
 [2.97552957]
 [2.87919846]
 [3.06339092]
 [2.96527307]
 [3.39450839]
 [2.87919846]
 [3.14415228]
 [2.74727091]
 [3.91202301]
 [3.19458313]
 [2.58776404]
 [3.13549422]
 [3.55248683]
 [3.39450839]
 [2.59525471]
 [3.10009229]
 [2.96527307]
 [3.5085559 ]
 [2.32238772]
 [3.01062089]
 [3.02042489]
 [2.68102153]
 [2.37954613]
 [2.85647021]
 [3.21084365]
 [2.67414865]
 [2.91235066]
 [2.16332303]
 [3.14415228]
 [3.10458668]
 [2.93916192]
 [3.11351531]
 [3.34638915]
 [2.99573227]
 [3.13983262]
 [2.68102153]
 [3.36729583]
 [3.13983262]
 [3.09104245]
 [3.14845336]
 [3.03974916]
 [2.66025954]
 [2.82137889]
 [3.18221184]
 [3.91202301]
 [3.62700405]
 [3.08648664]
 [3.13549422]
 [3.0301337 ]
 [3.55248683]
 [2.87356464]
 [2.58776404]
 [3.00071982]
 [2.91777073]
 [2.74727091]
 [2.67414865]
 [2.90690106]
 [3.10009229]
 [3.18221184]
 [2.61006979]
 [3.56671182]
 [3.54385368]
 [2.86220088]
 [2.57261223]
 [2.72129543]
 [3.12676054]
 [2.81540872]
 [3.21887582]
 [3.81551211]
 [3.61630876]
 [3.02529108]
 [2.77881927]
 [2.73436751]
 [2.94443898]
 [3.84374416]
 [2.99573227]
 [2.98061864]
 [2.58021683]
 [3.44041809]
 [1.84054963]
 [3.21887582]
 [2.14006616]
 [2.90142159]
 [2.90690106]
 [3.2308044 ]
 [3.58629287]
 [3.02042489]
 [2.54160199]
 [2.62466859]
 [3.16547505]
 [2.90142159]
 [3.02042489]
 [3.49650756]
 [3.78418963]
 [3.16124671]
 [3.07269331]
 [1.94591015]
 [3.05400118]
 [3.55820113]
 [2.97552957]
 [2.80336038]
 [3.6558396 ]
 [2.87919846]
 [2.50959926]
 [3.14845336]
 [3.10009229]
 [3.14845336]
 [2.93916192]
 [2.57261223]
 [2.70136121]
 [2.83907846]
 [2.01490302]
 [2.92316158]
 [3.40452517]
 [2.79728133]
 [2.74727091]
 [2.96527307]
 [3.01062089]
 [2.92316158]
 [3.13113691]
 [3.07269331]
 [2.84490938]
 [2.2512918 ]
 [2.4765384 ]
 [3.8286414 ]
 [2.87919846]
 [3.00071982]
 [2.96527307]
 [3.15273602]
 [2.63188884]
 [2.94968834]
 [2.56494936]
 [3.16547505]
 [2.59525471]
 [3.19458313]
 [2.93385687]
 [3.91202301]
 [3.91202301]
 [3.00071982]
 [2.86220088]
 [2.86220088]
 [2.6461748 ]
 [3.04927304]
 [3.21887582]
 [3.08648664]
 [2.81540872]
 [2.9601051 ]
 [3.09104245]
 [2.9601051 ]
 [3.05400118]
 [3.20680324]
 [3.27336401]
 [2.54160199]
 [3.00071982]
 [3.09104245]
 [3.11794991]
 [3.22684399]
 [3.91202301]
 [2.14006616]
 [2.38876279]
 [2.97041447]
 [3.41114771]
 [2.66722821]
 [2.35137526]
 [3.14415228]
 [2.74727091]
 [1.60943791]
 [3.91202301]
 [2.94443898]
 [3.11794991]
 [2.99071973]
 [2.2617631 ]
 [3.39785848]
 [2.96527307]
 [3.16968558]
 [3.7565381 ]
 [3.35689712]
 [2.8507065 ]
 [3.19047635]
 [3.03495299]
 [2.75366071]
 [3.45631668]
 [2.84490938]
 [3.14845336]
 [2.4765384 ]
 [3.48124009]
 [2.62466859]
 [3.91202301]
 [2.91777073]
 [2.72129543]
 [3.0155349 ]
 [2.9601051 ]
 [1.97408103]
 [3.27336401]
 [2.83907846]
 [3.19458313]
 [3.88773031]
 [3.49953328]
 [2.38876279]
 [3.91202301]
 [2.92852352]
 [3.56671182]
 [3.13983262]
 [3.07731226]
 [3.08190997]
 [3.09104245]
 [3.13113691]
 [3.21887582]
 [2.46809953]
 [3.28091122]
 [2.88480071]
 [3.0056826 ]
 [3.21084365]
 [2.17475172]
 [3.04452244]
 [3.16547505]
 [3.17387846]
 [2.60268969]
 [3.91202301]
 [2.92852352]
 [2.48490665]
 [2.99071973]
 [3.04452244]
 [3.05400118]
 [2.85647021]
 [3.16547505]
 [3.28091122]
 [2.74727091]
 [2.82137889]
 [3.05400118]
 [2.59525471]
 [3.63495111]
 [2.52572864]
 [1.7227666 ]
 [3.77963382]
 [3.13113691]
 [1.97408103]
 [3.16124671]
 [3.17387846]
 [3.01062089]
 [3.314186  ]
 [3.37073817]
 [3.06339092]
 [3.17387846]
 [3.44998755]
 [3.48737508]
 [3.11794991]
 [2.85647021]
 [3.47196645]
 [3.29583687]
 [3.58905912]
 [2.73436751]
 [2.84490938]
 [3.27714473]
 [3.13549422]
 [3.50254988]
 [3.32862669]
 [3.20680324]
 [2.97041447]
 [3.0155349 ]
 [3.11351531]]

In [59]:
#Define a function to calculate change in error function based on phi, w and p norm

def error(p,phi, w):
  if p == 2:
    err = (2 * (np.dot(np.dot(np.transpose(phi), phi),w) - 
                
                np.dot(np.transpose(phi),y))+ 
           lambd * p * np.power(np.absolute(w), (p-1)))
  if p < 2 and p > 1:
    err = (2 * (np.dot(np.dot(np.transpose(phi),phi), w)- 
                np.dot(np.transpose(phi), y ))+ 
           lambd * p * np.power(np.absolute(w), (p-1))* np.sign(w))
  return err

In [60]:
#Make a dictionary containing filenames as keys and p as values

filenames = {'output.csv': 2.0,
             'output_p1.csv': 1.75,
             'output_p2.csv': 1.5,
             'output_p3.csv': 1.3
             }

In [61]:
#For each item in this dictionary
#1. Set the w to all 0s


for (fname, p) in filenames.items():
  w = np.zeros((14,1))

In [62]:
#Set an appropriate value for lambda and step size
# Hyperparameter lambda value
lambd = 0.2

#max_step_size
t = 0.0001

In [63]:
#Calculate new value of w
w_new = w - t * error(p, phi, w)

In [64]:
i = 0
# 9.4 Repeat steps until error between consecutive w is less than threshold
while(np.linalg.norm(w_new-w) > 10 ** -10):
  w = w_new
  w_new = w - t * error(p, phi, w)
  i = i + 1

In [65]:
#Load values of id from test data file
id_test = np.loadtxt('test.csv', dtype='int', delimiter=',',skiprows=1, usecols=0, ndmin=2)

In [66]:
#9.6 Calculate y for test data using phi test and applying inverse log
y_test = np.exp(np.dot(phi_test, w_new))

In [67]:
# 9.7 Save the ids and y according to filename from dictionary
np.savetxt(fname, np.concatenate((id_test, y_test), axis=1),
               delimiter=',', fmt=['%d', '%f'], header='ID,MEDV', comments='')